body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #CB842E;
   background-image: none;
   border: 1px solid #D49768;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(203,132,46,1.00);
   --border-color: #D49768;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #F4F0EC;
   background-image: none;
   border: 1px solid #E0CFC2;
   border-radius: 0px;
   color: #1E1B1D;
   --background-color: rgba(244,240,236,1.00);
   --border-color: #E0CFC2;
   --border-width: 1px;
   --color: #1E1B1D;
   --icon-color: #C47A23;
   --colorize: invert(47%) sepia(40%) saturate(852%) hue-rotate(352deg) brightness(102%) contrast(90%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #EDE4D4;
   background-image: none;
   border: 1px solid #CDC3B7;
   border-radius: 0px;
   color: #3F3731;
   --background-color: rgba(237,228,212,1.00);
   --border-color: #CDC3B7;
   --border-width: 1px;
   --color: #3F3731;
}
.wb-theme-button:hover
{
   background-color: #F5F0E5;
   background-image: none;
   border: 1px solid #F5AD66;
   border-radius: 0px;
   color: #A46313;
   --background-color: rgba(245,240,229,1.00);
   --border-color: #F5AD66;
   --border-width: 1px;
   --color: #A46313;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #F4F0EC;
   background-image: none;
   border: 1px solid #E0CFC2;
   border-radius: 0px;
   color: #B85700;
   --background-color: rgba(244,240,236,1.00);
   --border-color: #E0CFC2;
   --border-width: 1px;
   --color: #B85700;
}
.darktheme .wb-theme-header
{
   background-color: #CB842E;
   background-image: none;
   border: 1px solid #D49768;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(203,132,46,1.00);
   --border-color: #D49768;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-content
{
   background-color: #1E1B1D;
   background-image: none;
   border: 1px solid #E0CFC2;
   border-radius: 0px;
   color: #F4F0EC;
   --background-color: rgba(30,27,29,1.00);
   --border-color: #E0CFC2;
   --border-width: 1px;
   --color: #F4F0EC;
   --icon-color: #C47A23;
   --colorize: invert(48%) sepia(60%) saturate(569%) hue-rotate(352deg) brightness(96%) contrast(94%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #EDE4D4;
   background-image: none;
   border: 1px solid #CDC3B7;
   border-radius: 0px;
   color: #3F3731;
   --background-color: rgba(237,228,212,1.00);
   --border-color: #CDC3B7;
   --border-width: 1px;
   --color: #3F3731;
}
.darktheme .wb-theme-button:hover
{
   background-color: #F5F0E5;
   background-image: none;
   border: 1px solid #F5AD66;
   border-radius: 0px;
   color: #A46313;
   --background-color: rgba(245,240,229,1.00);
   --border-color: #F5AD66;
   --border-width: 1px;
   --color: #A46313;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #F4F0EC;
   background-image: none;
   border: 1px solid #E0CFC2;
   border-radius: 0px;
   color: #B85700;
   --background-color: rgba(244,240,236,1.00);
   --border-color: #E0CFC2;
   --border-width: 1px;
   --color: #B85700;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#headerLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 83.33333333%;
   max-width: 83.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 320px)
{
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_headerIcon
{
   background: transparent !important;
   border: none !important;
   text-align: center;
   margin: 0;
   padding: 10px 0 10px 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#headerIcon
{
   height: 30px;
   width: 30px;
}
#headerIcon i
{
   color: inherit;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 30px;
}
#headerIcon
{
   color: var(--icon-color);
}
#wb_headerIcon a
{
   color: inherit;
}
#wb_headerMenu
{
   display: block;
   background-color: #000000;
   font-family: Arial;
   font-weight: normal;
   text-align: right;
   width: 100%;
   margin: 0;
   z-index: 1111 !important;
}
#headerMenu
{
   display: inline-block;
   background-color: #000000;
   height: 73px;
}
#wb_headerMenu ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_headerMenu ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_headerMenu ul li
{
   border-radius: 0;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_headerMenu ul li i
{
   font-size: 24px;
   width: 24px;
   margin-bottom: 4px;
}
#wb_headerMenu ul li a
{
   background-color: #000000;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   padding: 15px 30px 15px 30px;
   text-align: center;
}
#wb_headerMenu > ul > li > a 
{
   height: 43px;
}
.headerMenu a 
{
   display: block;
}
#wb_headerMenu li:hover > a, #wb_headerMenu li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_headerMenu ul ul
{
   display: none;
   position: absolute;
   top: 73px;
}
#wb_headerMenu ul li:hover > ul
{
   display: list-item;
}
#wb_headerMenu ul ul li 
{
   float: none;
   position: relative;
   width: 135px;
}
#wb_headerMenu ul ul li a
{
   background-color: #000000;
   border: 0px solid #7A7A7A;
   color: #FFFFFF;
}
#wb_headerMenu ul ul li:hover > a, #wb_headerMenu ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_headerMenu ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_headerMenu ul ul li a 
{
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_headerMenu ul ul ul li 
{
   left: 135px;
   position: relative;
   top: -73px;
}
#wb_headerMenu .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_headerMenu .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_headerMenu li:hover > a .arrow-down, #wb_headerMenu li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_headerMenu ul ul li:hover > a .arrow-left, #wb_headerMenu ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_headerMenu .toggle,[id^=headerMenu-submenu]
{
   display: none;
}
@media all and (max-width:768px) 
{
#wb_headerMenu
{
   margin: 0;
   text-align: left;
}
#wb_headerMenu ul li a, #wb_headerMenu .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   padding: 15px 20px 15px 20px;
}
#wb_headerMenu .toggle + a
{
   display: none !important;
}
.headerMenu 
{
   display: none;
   z-index: 9999;
}
#headerMenu 
{
   background-color: transparent;
   display: none;
}
#wb_headerMenu > ul > li > a 
{
   height: auto !important;
   margin: 0;
}
#wb_headerMenu .toggle 
{
   display: block;
   background-color: #000000;
   color: #FFFFFF;
   padding: 0 20px 0 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_headerMenu .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=headerMenu-submenu]:checked + ul 
{
   display: block !important;
}
#headerMenu-title
{
   height: 73px !important;
   line-height: 73px !important;
   text-align: center;
}
#wb_headerMenu ul li 
{
   display: block;
   width: 100% !important;
   text-align: left;
}
#wb_headerMenu ul ul .toggle,
#wb_headerMenu ul ul a 
{
   padding: 0 40px;
}
#wb_headerMenu a:hover,
#wb_headerMenu ul ul ul a 
{
   background-color: #000000;
   color: #FFFFFF;
}
#wb_headerMenu ul li ul li .toggle,
#wb_headerMenu ul ul a 
{
   background-color: #000000;
   color: #FFFFFF;
}
#wb_headerMenu ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_headerMenu ul li a 
{
   text-align: left;
}
#wb_headerMenu ul li a br 
{
   display: none;
}
#wb_headerMenu ul li i 
{
   margin-right: 8px;
}
#wb_headerMenu ul ul 
{
   float: none;
   position: static;
}
#wb_headerMenu ul ul li:hover > ul,
#wb_headerMenu ul li:hover > ul 
{
   display: none;
}
#wb_headerMenu ul ul li 
{
   display: block;
   width: 100%;
}
#wb_headerMenu ul ul ul li 
{
   position: static;
}
#headerMenu-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 24px;
   user-select: none;
}
#headerMenu-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_headerMenu ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_headerMenu .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_headerMenu .toggle:hover .arrow-down, #wb_headerMenu li .active .arrow-down
{
   border-top-color: #424242;
}
#wb_headerMenu ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_headerMenu ul li ul li .toggle:hover .arrow-down, #wb_headerMenu ul li ul li .active .arrow-down
{
   border-top-color: #424242;
}
}
#wb_heroLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#heroLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#heroLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#heroLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#heroLayoutGrid > .row > .col-1
{
   float: left;
}
#heroLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#heroLayoutGrid:before,
#heroLayoutGrid:after,
#heroLayoutGrid .row:before,
#heroLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#heroLayoutGrid:after,
#heroLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#heroLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_heroHeading1
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#heroHeading1
{
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#heroHeading1
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_heroHeading2
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#heroHeading2
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#heroHeading2
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_teamLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#teamLayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#teamLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#teamLayoutGrid1 > .row > .col-1, #teamLayoutGrid1 > .row > .col-2, #teamLayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#teamLayoutGrid1 > .row > .col-1, #teamLayoutGrid1 > .row > .col-2, #teamLayoutGrid1 > .row > .col-3
{
   float: left;
}
#teamLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#teamLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#teamLayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#teamLayoutGrid1:before,
#teamLayoutGrid1:after,
#teamLayoutGrid1 .row:before,
#teamLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#teamLayoutGrid1:after,
#teamLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#teamLayoutGrid1 > .row > .col-1, #teamLayoutGrid1 > .row > .col-2, #teamLayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#teamRollOverLayer1
{
   position: relative;
   display: block;
   width: 100%;
   height: 386px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#teamRollOverLayer1 .default
{
   z-index: 1;
}
#teamRollOverLayer1 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer1 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer1 .default, #teamRollOverLayer1 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#teamRollOverLayer1 .default > div, #teamRollOverLayer1 .hover > div
{
   height: 100% !important;
}
@keyframes teamRollOverLayer1-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes teamRollOverLayer1-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#teamRollOverLayer1 .default.animate
{
   animation: teamRollOverLayer1-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer1 .default, #teamRollOverLayer1 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#teamRollOverLayer1 .hover.animate
{
   animation: teamRollOverLayer1-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer1 .reverse
{
   animation-direction: reverse !important;
}
#teamRollOverLayer1 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#teamRollOverLayer1 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#teamRollOverLayer1 .default
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#teamRollOverLayer1 .hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_teamCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#teamCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard1-card-item0
{
   display: inline-block;
   height: 133px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-image: linear-gradient(45deg, #DCDCDC 0%, #DCDCDC 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 4px solid #FFFFFF;
   border-radius: 50%;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#teamCard1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard1-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard1-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard1-card-item4 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_teamCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#teamCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard2-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard2-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard2-card-item3
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard2-card-item4
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #C9212E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard2-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard2-card-item5
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #00ABF1;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard2-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard2-card-item6
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #3A579A;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard2-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard2-card-item7
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard2-card-item7 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#teamRollOverLayer2
{
   position: relative;
   display: block;
   width: 100%;
   height: 386px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#teamRollOverLayer2 .default
{
   z-index: 1;
}
#teamRollOverLayer2 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer2 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer2 .default, #teamRollOverLayer2 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#teamRollOverLayer2 .default > div, #teamRollOverLayer2 .hover > div
{
   height: 100% !important;
}
@keyframes teamRollOverLayer2-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes teamRollOverLayer2-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#teamRollOverLayer2 .default.animate
{
   animation: teamRollOverLayer2-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer2 .default, #teamRollOverLayer2 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#teamRollOverLayer2 .hover.animate
{
   animation: teamRollOverLayer2-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer2 .reverse
{
   animation-direction: reverse !important;
}
#teamRollOverLayer2 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#teamRollOverLayer2 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#teamRollOverLayer2 .default
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#teamRollOverLayer2 .hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_teamCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#teamCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard3-card-item0
{
   display: inline-block;
   height: 133px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-image: linear-gradient(to right, #DCDCDC 0%, #808080 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 4px solid #FFFFFF;
   border-radius: 50%;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#teamCard3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard3-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard3-card-item4 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_teamCard4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#teamCard4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard4-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard4-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard4-card-item3
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard4-card-item4
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #C9212E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard4-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard4-card-item5
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #00ABF1;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard4-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard4-card-item6
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #3A579A;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard4-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard4-card-item7
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard4-card-item7 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#teamRollOverLayer3
{
   position: relative;
   display: block;
   width: 100%;
   height: 386px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#teamRollOverLayer3 .default
{
   z-index: 1;
}
#teamRollOverLayer3 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer3 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#teamRollOverLayer3 .default, #teamRollOverLayer3 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#teamRollOverLayer3 .default > div, #teamRollOverLayer3 .hover > div
{
   height: 100% !important;
}
@keyframes teamRollOverLayer3-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes teamRollOverLayer3-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#teamRollOverLayer3 .default.animate
{
   animation: teamRollOverLayer3-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer3 .default, #teamRollOverLayer3 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#teamRollOverLayer3 .hover.animate
{
   animation: teamRollOverLayer3-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#teamRollOverLayer3 .reverse
{
   animation-direction: reverse !important;
}
#teamRollOverLayer3 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#teamRollOverLayer3 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#teamRollOverLayer3 .default
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#teamRollOverLayer3 .hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_teamCard5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#teamCard5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard5-card-item0
{
   display: inline-block;
   height: 133px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-image: linear-gradient(45deg, #808080 0%, #808080 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard5-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 4px solid #FFFFFF;
   border-radius: 50%;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#teamCard5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard5-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard5-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard5-card-item4 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_teamCard6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#teamCard6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#teamCard6-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#teamCard6-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard6-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard6-card-item3
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   border-top: 1px #DEDEDE solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#teamCard6-card-item4
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #C9212E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard6-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard6-card-item5
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #00ABF1;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard6-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard6-card-item6
{
   display: inline-block;
   height: 36px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #3A579A;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#teamCard6-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#teamCard6-card-item7
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #9E9E9E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#teamCard6-card-item7 i
{
   color: #9E9E9E;
   margin-right: 4px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_wwbFooterText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 10px 0 0;
   margin: 0;
   text-align: right;
}
#wb_wwbFooterText1 div
{
   text-align: right;
}
#wb_wwbFooterText1
{
   display: inline-block;
   margin: 0;
   width: 106px;
   height: 21px;
}
#wb_wwbFooterText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 0 10px;
   margin: 0;
   text-align: left;
}
#wb_wwbFooterText2 div
{
   text-align: left;
}
#wb_wwbFooterText2
{
   display: inline-block;
   margin: 0;
   width: 327px;
   height: 21px;
}
#wb_wwbFooterIcon
{
   background: transparent !important;
   border: none !important;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wwbFooterIcon
{
   height: 30px;
   width: 30px;
}
#wwbFooterIcon i
{
   color: inherit;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wwbFooterIcon
{
   color: var(--icon-color);
}
#wb_wwbFooterIcon a
{
   color: inherit;
}
#wb_wwbFooterImage
{
   margin: 0 0 16px 0 ;
   vertical-align: top;
}
#wwbFooterImage
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_wwbFooter
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#wwbFooter
{
   box-sizing: border-box;
   padding: 40px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#wwbFooter > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wwbFooter > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#wwbFooter > .row > .col-1
{
   float: left;
}
#wwbFooter > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#wwbFooter:before,
#wwbFooter:after,
#wwbFooter .row:before,
#wwbFooter .row:after
{
   display: table;
   content: " ";
}
#wwbFooter:after,
#wwbFooter .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#wwbFooter > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
